<html lang="en">

	<head>
        <meta charset="utf-8">
		<title> Process Visualization During Alerts </title>
        <link rel="stylesheet" href="../static/css/base.css"

          type="text/css" />
        <link rel="stylesheet" href="../static/css/application.css"

          type="text/css" />
        <link rel="stylesheet" href="../static/css/preview.css"
          type="text/css" />
        <script type = "text/javascript" src ="../static/js/d3.v3.js"></script>
        <script type = "text/javascript" src ="../static/js/jquery-1.10.1.js"></script>
        <script type = "text/javascript" src ="../static/js/jquery-ui.js"></script>
        <script type = "text/javascript" src ="../static/js/jquery-ui.js"></script>
        <script type = "text/javascript" src ="../static/js/fastlivefilter.js"> </script>
        <script type = "text/javascript" src ="../static/js/dropdown.js"></script>
        <script type = "text/javascript" src ="../static/js/jquery.ui.core.js"> </script>
        <script type = "text/javascript" src ="../static/js/jquery-ui.js"></script>
        <script type = "text/javascript" src ="../static/js/tooltip.js"> </script>
        <script type = "text/javascript" src ="../static/js/jquery-ui.js"></script>
        <script type = "text/javascript" src ="../static/js/processviz.js"> </script>
        {% load chartit %}
        {{ stackedchart|load_charts:"container" }}
	</head>

	<body onLoad="sizeChange()">


    <div class="sidebar">
      <ul class="sidebar sidebar-tabs">
        <li><a href="#" class="alerts">Recent Alerts</a></li>
          {% for subject in alerthistories %}
                <li>
                    {% subject %}
                </li>
              {% endfor %}

      </ul>

      <div id='server-container' >
        <div class="btn-group toggleButton">
          <button type="button" class="btn btn-primary dropdown-toggle btn-small toggleButtonInner" data-toggle="dropdown">
          Servers<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              {% for server in servers %}
                <li>
                    {% nickname %}
                </li>
              {% endfor %}
          </ul>
        </div>

      </div>


    </div>

      <div id="container-container">
        <div id='container'>

            <script src="../static/js/highcharts.js"></script>

        </div>
      </div>

</body>
</html>
